<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 부트스트랩 CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<style>
    body{
        margin: 0px;
        background-color: #EDEDED;
    }
    nav{
        background-color: #E38F11;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 10px;
    }
    #main_title{
        display: inline-block;
    }
    strong{
        padding-left: 15px;
        color: #F5F5F5;
        font-size: 30px;
    }
</style>
<body>
    <nav>
        <div id="main_title">
            <a href="{% url 'browse' %}"><i class="fas fa-solid fa-house-chimney fa-2x" style="color: #F5F5F5;"></i></a>
            <strong>STARBUCKS</strong>
        </div>
    </nav>

    <div class="container">
    {% block main_area %}
    {% endblock %}
    </div>


    <!-- 부트스트랩 JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>