{% extends 'kiosk/base.html' %}
{% block main_area %}
{% load static %}
<link href="{% static 'kiosk/css/login.css' %}" rel="stylesheet" type="text/css">


<h1 class="login_title">SIGN IN</h1>

<form class="login_form" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="id">Id</label>
        <input type="text" class="form-control" id="id" name="id" aria-describedby="idHelp">
    </div>
    <div class="mb-3">
        <label for="password" class="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <hr>

    <button type="submit" class="btn btn-primary form-control submit_btn"><h5>SIGN IN</h5></button>
</form>

  <div class="url_area">
    <div class="url_label">아직 계정이 없으신가요?</div>
    <a href="{% url 'signup' %}" class="url_link">회원가입하러 가기</a>
  </div>


{% endblock %}